{% extends 'form/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<ul><h3>Шаблоны:</h3></ul>
{% for form in list_form %}
<ul>
    <a href="{% url 'detail' pk=form.pk %}">{{ form.name }}</a>
</ul>
{% endfor %}
<br/>
<ul>
    <a href="{% url 'get_form' %}">Создать шаблон</a>
</ul>
<br/>
<ul>
    <nav class="navbar bg-body-tertiary">
        <form action="{% url 'search' %}" method="get" class="d-flex">
            <input class="form-control me-2" type="text" name="q" placeholder="Введите название">
            <button class="btn btn-outline-primary" type="submit">Поиск</button>
        </form>
    </nav>
</ul>
{% endblock %}